@model eProject.Models.ViewModels.ReviewRequest
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

<!-- CONTENT AREA -->
<div class="content-area">

    <!-- PAGE -->
    <section class="page-section">
        <div class="container">

            <div class="row product-single">
                <div class="col-md-6">
                    <div class="badges">
                        @if (ViewBag.Hot is true)
                        {
                            <div class="hot">hot</div>
                        }
                        <div class="new">new</div>
                    </div>
                    <div class="owl-carousel img-carousel">
                        <div class="item">
                                <a class="btn btn-theme btn-theme-transparent btn-zoom" href="~/images/products/@ViewBag.FeaturedPhoto" data-gal="prettyPhoto"><i class="fa fa-plus"></i></a>
                                <a data-gal="prettyPhoto"><img class="img-responsive" src="~/images/products/@ViewBag.FeaturedPhoto" alt="" /></a>
                            </div>
                        @foreach (var productImage in ViewBag.ProductImages)
                        {
                            <div class="item">
                                <a class="btn btn-theme btn-theme-transparent btn-zoom" href="~/images/products/@productImage.Name" data-gal="prettyPhoto"><i class="fa fa-plus"></i></a>
                                <a href="~/images/products/@productImage.Name" data-gal="prettyPhoto"><img class="img-responsive" src="~/images/products/@productImage.Name" alt="" /></a>
                            </div>
                        }
                    </div>
                    <div class="row product-thumbnails">
                        <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [0, 300]);"><img src="assets/img/preview/shop/product-thumb-1.jpg" alt="" /></a></div>
                        <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [1, 300]);"><img src="assets/img/preview/shop/product-thumb-2.jpg" alt="" /></a></div>
                        <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [2, 300]);"><img src="assets/img/preview/shop/product-thumb-3.jpg" alt="" /></a></div>
                        <div class="col-xs-2 col-sm-2 col-md-3"><a href="#" onclick="jQuery('.img-carousel').trigger('to.owl.carousel', [3, 300]);"><img src="assets/img/preview/shop/product-thumb-4.jpg" alt="" /></a></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="back-to-category">
                        <span class="link"><i class="fa fa-angle-left"></i> <a asp-controller="ProductUser" asp-action="index">Back to Category</a></span>
                    </div>
                    <h2 class="product-title">@ViewBag.Product.Name</h2>
                    <div class="product-rating clearfix">
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <a class="reviews" href="#">16 reviews</a> | <a class="add-review" href="#">Add Your Review</a>
                    </div>
                    @if (ViewBag.Product.Quantity > 0)
                    {
                        <div class="product-availability">Availability: <strong style="color:green">In stock</strong></div>
                    }
                    else
                    {
                <div class="product-availability" style="font-size: 30px;">Availability: <strong style="color:red">Sold out</strong></div>
                    }
                    <hr class="page-divider small" />

                    <div class="product-price">@ViewBag.Product.Price $</div>
                    <hr class="page-divider" />

                    <div class="product-text">
                        @ViewBag.Product.Description
                    </div>
                    <hr class="page-divider" />

                    <div class="buttons">
                        @*<div class="quantity">
                                <button class="btn"><i class="fa fa-minus"></i></button>
                                <input class="form-control qty" type="number" step="1" min="1" name="quantity" value="1" title="Qty">
                                <button class="btn"><i class="fa fa-plus"></i></button>
                            </div>*@
                        <a class="btn btn-theme btn-cart btn-icon-left" asp-controller="Cart" asp-action="Buy" asp-route-id="@ViewBag.Product.ProductId"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        <a class="btn btn-theme btn-wish-list" asp-controller="WishList" asp-action="Add" asp-route-id="@ViewBag.Product.ProductId" asp-route-returnController="@Html.ViewContext.RouteData.Values["controller"].ToString()" asp-route-returnAction="@Html.ViewContext.RouteData.Values["action"].ToString()"><i class="fa fa-heart"></i></a>
                        <a class="btn btn-theme btn-compare" asp-controller="Portfolio" asp-action="Add" asp-route-id="@ViewBag.Product.ProductId"><i class="fa fa-exchange"></i></a>
                    </div>

                    <hr class="page-divider small" />

                    <table>
                        <tr>
                            <td class="title">Category:</td>
                            <td>@ViewBag.Product.Category.CategoryName</td>
                        </tr>
                        <tr>
                            <td class="title">Artist:</td>
                            <td>@ViewBag.Product.User.FirstName @ViewBag.Product.User.LastName</td>
                        </tr>
                        <tr>
                            <td class="title">Address:</td>
                            <td>@ViewBag.Product.User.Address.StreetAddress, @ViewBag.Product.User.Address.County, @ViewBag.Product.User.Address.City, @ViewBag.Product.User.Address.Country</td>
                        </tr>
                        <tr>
                            <td class="title">Tags:</td>
                            <td>Fashion - clothes - Dress - Men - jean</td>
                        </tr>
                    </table>
                    <hr class="page-divider small" />

                    <ul class="social-icons list-inline">
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>

                </div>
            </div>

        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <div class="tabs-wrapper content-tabs">
                <ul class="nav nav-tabs">
                    <li><a href="#item-description" data-toggle="tab">Item Description</a></li>
                    <li class="active"><a href="#reviews" data-toggle="tab">Reviews</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade" id="item-description">
                        <p>@ViewBag.Product.Description</p>

                    </div>
                    <div class="tab-pane fade in active" id="reviews">

                        <div class="comments">
                            @if (ViewBag.Reviews.Count == 0)
                            {
                            <h1>This product has no comments yet.</h1>
                            }
                            else
                            {
                                @foreach (Review review in ViewBag.Reviews)
                                {
                                    <div class="media comment">
                                        <a href="#" class="pull-left comment-avatar">
                                            @if (review.User.ProfileImage is null)
                                            {
                                                <img alt="" src="~/backend/dist/img/user2-160x160.jpg" class="media-object">
                                            }
                                            else
                                            {
                                                <img alt="" src="~/images/users/@review.User.ProfileImage" class="media-object">
                                            }
                                        </a>
                                        <div class="media-body">
                                            <p class="comment-meta"><span class="comment-author"><a href="#">@review.User.FirstName @review.User.LastName</a> <span class="pull-right comment-date"> @review.Created_At.Day <i class="pull-right fa fa-flag"></i></span></span></p>
                                            <p class="comment-text">@review.Message</p>
                                        </div>
                                    </div>
                                }
                            }

                        </div>
                        <div class="comments-form">
                            <h4 class="block-title">Add a Review</h4>
                            <form method="post" asp-controller="ProductUser" asp-action="Review" asp-route-id="@ViewBag.Product.ProductId" name="comments-form" id="comments-form">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group"><textarea asp-for="Message" placeholder="Your message" class="form-control" title="comments-form-comments" rows="6"></textarea></div>
                                <div class="form-group"><button type="submit" class="btn btn-theme btn-theme-transparent btn-icon-left" id="submit"><i class="fa fa-comment"></i> Review</button></div>
                            </form>
                        </div>
                        <!-- // -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <h2 class="section-title section-title-lg"><span>Related Products</span></h2>
            <div class="featured-products-carousel">
                <div class="owl-carousel" id="featured-products-carousel">
                    @foreach (var relatedProduct in ViewBag.RelatedProduct)
                    {
                        Product productInfo = (Product)relatedProduct;
                        Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                        var photoName = photo == null ? "no-image.jpg" : photo.Name;
                        <div class="thumbnail no-border no-padding">
                            <div class="media">
                                <a class="media-link" href="#">
                                    <img src="~/images/products/@photoName" alt="" />
                                    <span class="icon-view">
                                        <strong><i class="fa fa-eye"></i></strong>
                                    </span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                <h4 class="caption-title"><a asp-controller="Product" asp-action="details" asp-route-id="@relatedProduct.ProductId">@productInfo.Name</a></h4>
                                <div class="rating">
                                    <span class="star"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                    <!--
                                    -->
                                    <span class="star active"></span>
                                </div>
                                <div class="price"><ins>@productInfo.Price</ins> <del>$425.00</del></div>
                                <div class="buttons">
                                    <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                    <!--
                                    -->
                                    <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                    <!--
                                    -->
                                    <a asp-controller="Portfolio" asp-action="Add" asp-route-id="@productInfo.ProductId" asp-route-returnController="@Html.ViewContext.RouteData.Values["controller"].ToString()" asp-route-returnAction="@Html.ViewContext.RouteData.Values["action"].ToString()" class="btn btn-theme btn-theme-transparent btn-compare"><i class="fa fa-exchange"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <hr class="page-divider half" />
        </div>
    </section>
    <!-- /PAGE -->
    <!-- PAGE -->
    <section class="page-section">
        <div class="container">
            <h2 class="section-title"><span>Artists</span></h2>
            <div class="partners-carousel">
                <div class="owl-carousel" id="partners">
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                    <div><a href="#"><img src="assets/img/preview/partners/brand-logo.jpg" alt="" /></a></div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->

</div>
<!-- /CONTENT AREA -->
