
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_FrontendLayout.cshtml";
}

@using eProject.Models;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
<!-- CONTENT AREA -->
<div class="content-area">

    <!-- BREADCRUMBS -->
    <section class="page-section breadcrumbs">
        <div class="container">
            <div class="page-header">
                <h1>Artworks</h1>
            </div>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Artworks Category</a></li>
            </ul>
        </div>
    </section>
    <!-- /BREADCRUMBS -->
    <!-- PAGE WITH SIDEBAR -->
    <section class="page-section with-sidebar">
        <div class="container">
            <div class="row">
                <!-- SIDEBAR -->
                <aside class="col-md-3 sidebar" id="sidebar">
                    <!-- widget shop categories -->

                    @await Component.InvokeAsync("Category")

                    <!-- /widget shop categories -->
                    <!-- widget price filter -->
                    <div class="widget widget-filter-price">
                        <h4 class="widget-title">Price</h4>
                        <div class="widget-content">
                            <div id="slider-range"></div>
                            <input type="text" id="amount" readonly />
                            <button class="btn btn-theme">Filter</button>
                        </div>
                    </div>
                    <!-- /widget price filter -->
                    <!-- widget tabs -->
                    <div class="widget widget-tabs">
                        <div class="widget-content">
                            <ul id="tabs" class="nav nav-justified">
                                <li><a href="#tab-s1" data-toggle="tab">Hot</a></li>
                                <li class="active"><a href="#tab-s2" data-toggle="tab">New</a></li>
                                <li><a href="#tab-s3" data-toggle="tab">Sale</a></li>
                            </ul>
                            <div class="tab-content">
                                <!-- tab 1 -->
                                <div class="tab-pane fade" id="tab-s1">
                                    <div class="product-list">
                                        @foreach (var HotProduct in ViewBag.Hot)
                                        {
                                            Product productInfo = (Product)HotProduct;
                                            Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                                            var photoName = photo == null ? "no-image.jpg" : photo.Name;
                                            <div class="media">
                                                <a class="pull-left media-link" asp-controller="Product" asp-action="details" asp-route-id="@HotProduct.ProductId">
                                                    <img class="media-object" src="~/images/products/@photoName" alt="">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a asp-controller="Product" asp-action="details" asp-route-id="@HotProduct.ProductId">@HotProduct.Name</a></h4>
                                                    <div class="rating">
                                                        <span class="star"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                    </div>
                                                    <div class="price"><ins>$ @HotProduct.Price</ins> <del>$ @HotProduct.SalePrice</del></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- tab 2 -->
                                <div class="tab-pane fade in active" id="tab-s2">
                                    <div class="product-list">
                                        @foreach (var newProducts in ViewBag.NewProducts)
                                        {
                                            Product productInfo = (Product)newProducts;
                                            Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                                            var photoName = photo == null ? "no-image.jpg" : photo.Name;
                                            <div class="media">
                                                <a class="pull-left media-link" asp-controller="Product" asp-action="details" asp-route-id="@newProducts.ProductId">
                                                    <img class="media-object" src="~/images/products/@photoName" alt="">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">@newProducts.Name</a></h4>
                                                    <div class="rating">
                                                        <span class="star"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                    </div>
                                                    <div class="price"><ins>$ @newProducts.Price</ins> <del>$ @newProducts.SalePrice</del></div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <!-- tab 3 -->
                                <div class="tab-pane fade" id="tab-s3">
                                    <div class="product-list">
                                        @foreach (var saleProducts in ViewBag.SaleProducts)
                                        {
                                            Product productInfo = (Product)saleProducts;
                                            Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                                            var photoName = photo == null ? "no-image.jpg" : photo.Name;
                                            <div class="media">
                                                <a class="pull-left media-link" asp-controller="Product" asp-action="details" asp-route-id="@saleProducts.ProductId">
                                                    <img class="media-object" src="~/images/products/@photoName" alt="">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading"><a href="#">@saleProducts.Name</a></h4>
                                                    <div class="rating">
                                                        <span class="star"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                        <!--
                                                        -->
                                                        <span class="star active"></span>
                                                    </div>
                                                    <div class="price"><ins>$ @saleProducts.Price</ins> <del>$ @saleProducts.SalePrice</del></div>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /widget tabs -->
                    <!-- widget tag cloud -->
                    <div class="widget widget-tag-cloud">
                        <a class="btn btn-theme btn-title-more" href="#">See All</a>
                        <h4 class="widget-title"><span>Tags</span></h4>
                        <ul>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Jeans</a></li>
                            <li><a href="#">Top Sellers</a></li>
                            <li><a href="#">E commerce</a></li>
                            <li><a href="#">Hot Deals</a></li>
                            <li><a href="#">Supplier</a></li>
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Website</a></li>
                            <li><a href="#">Isamercan</a></li>
                            <li><a href="#">Themeforest</a></li>
                        </ul>
                    </div>
                    <!-- /widget tag cloud -->
                </aside>
                <!-- /SIDEBAR -->
                <!-- CONTENT -->
                <div class="col-md-9 content" id="content">



                    <!-- shop-sorting -->
                    <div class="shop-sorting">
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- widget search -->
                                <div class="widget">
                                    <div class="widget-search">
                                        <input class="form-control" type="text" placeholder="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <!-- /widget search -->
                            </div>
                            <div class="col-sm-6 text-right-sm">
                                <a class="btn btn-theme btn-theme-transparent btn-theme-sm" href="#"><img src="~/frontend/assets/img/icon-list.png" alt="" /></a>
                                <a class="btn btn-theme btn-theme-transparent btn-theme-sm" href="#"><img src="~/frontend/assets/img/icon-grid.png" alt="" /></a>
                            </div>
                        </div>
                    </div>
                    <!-- /shop-sorting -->
                    <!-- Products grid -->
                    <div class="row products grid">
                        @foreach (var product in ViewBag.Products)
                        {
                            Product productInfo = (Product)product;
                            Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                            var photoName = photo == null ? "no-image.jpg" : photo.Name;
                            <div class="col-md-4 col-sm-6">
                                <div class="thumbnail no-border no-padding">
                                    <div class="media">
                                        <a class="media-link" data-gal="prettyPhoto" href="~/images/products/@photoName">
                                            <img src="~/images/products/@photoName" alt="" />
                                            <span class="icon-view">
                                                <strong><i class="fa fa-eye"></i></strong>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="caption text-center">
                                        <h4 class="caption-title"><a asp-controller="Product" asp-action="details" asp-route-id="@product.ProductId">@productInfo.Name</a></h4>
                                        <div class="rating">
                                            <span class="star"></span>
                                            <!--
                                            -->
                                            <span class="star active"></span>
                                            <!--
                                            -->
                                            <span class="star active"></span>
                                            <!--
                                            -->
                                            <span class="star active"></span>
                                            <!--
                                            -->
                                            <span class="star active"></span>
                                        </div>
                                        <div class="price"><ins>@productInfo.Price</ins> <del>@productInfo.SalePrice</del></div>
                                        <div class="buttons">
                                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                            <!--
                                            -->
                                            <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <!--
                                            -->
                                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- /Products grid -->
                    <!-- Pagination -->
                    <div class="pagination-wrapper">
                        @Html.PagedListPager((IPagedList)ViewBag.Products, page=> Url.Action("index","product",new { page = page}))
                    </div>
                    <!-- /Pagination -->

                </div>
                <!-- /CONTENT -->

            </div>
        </div>
    </section>
    <!-- /PAGE WITH SIDEBAR -->
    <!-- PAGE -->
    <section class="page-section no-padding-top">
        <div class="container">
            <div class="row blocks shop-info-banners" style="margin-top: 30px">
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-gift"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Free Shipping</h4>
                                Ship around the world
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-comments"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Call to Free</h4>
                                Support 24/7. call number: 1800 1530
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block">
                        <div class="media">
                            <div class="pull-right"><i class="fa fa-trophy"></i></div>
                            <div class="media-body">
                                <h4 class="media-heading">Payment</h4>
                                Credit Card - Paypal - Card
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /PAGE -->

</div>
<!-- /CONTENT AREA -->
