@model IEnumerable<eProject.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BackendLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Category List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List All Categories</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary float-right" asp-area="Admin" asp-controller="Category" asp-action="Create">Add new Category</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                
                                <th>Id</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Parent</th>
                                <th>Action</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td><b>@item.Name</b></td>
                                    <td>@(item.Status ? "Show" : "Hide")</td>
                                    <td>@(item.Parent == null ? "" : @item.Parent.Name)</td>
                                    <td>
                                        <a asp-area="admin" asp-controller="Category"
                                           asp-action="edit" asp-route-id="@item.Id">
                                            Edit
                                        </a> <span>|</span>
                                        @if (item.InverseParents != null && item.InverseParents.Count == 0)
                                        {
                                            <a asp-area="admin" asp-controller="Category"
                                               asp-action="delete" asp-route-id="@item.Id"
                                               onclick="return confirm('Are you sure?')">Delete</a> <span>|</span>

                                        }
                                        <a asp-area="admin" asp-controller="Category"
                                           asp-action="addsubcategory" asp-route-id="@item.Id">
                                            Add sub category
                                        </a>
                                    </td>
                                </tr>
                                if (item.InverseParents != null && item.InverseParents.Count != 0)
                                {
                                    foreach (var subCategory in item.InverseParents)
                                    {
                                        <tr>
                                            <td>@subCategory.Id</td>
                                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@subCategory.Name</td>
                                            <td>@(subCategory.Status ? "Show" : "Hide")</td>
                                            <td>@subCategory.Parent.Name</td>
                                            <td>
                                                <a asp-area="admin" asp-controller="Category"
                                                   asp-action="edit" asp-route-id="@subCategory.Id">
                                                    Edit
                                                </a> <span>|</span>
                                                <a asp-area="admin" asp-controller="Category"
                                                   asp-action="delete" asp-route-id="@subCategory.Id"
                                                   onclick="return confirm('Are you sure?')">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Parent</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section Scripts
{
    <script>
$(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });</script>
}

