@{
    ViewData["Title"] = "Invoice Details";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Invoice</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Invoice</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="callout callout-info">
                    <h5><i class="fas fa-info"></i> Note:</h5>
                    This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
                </div>


                <!-- Main content -->
                <div class="invoice p-3 mb-3">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <i class="fas fa-globe"></i> Heaven Gallery, Inc.
                                <small class="float-right">Date: </small>
                            </h4>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            From
                            @{
                                WareHouseAddress wareHouseAddress = (WareHouseAddress)ViewBag.WareHouseAddress;
                                <address>
                                    <strong>@wareHouseAddress.CompanyName</strong><br>
                                    @wareHouseAddress.StreetAddress<br>
                                    @wareHouseAddress.City @wareHouseAddress.PostalCode, @wareHouseAddress.Country<br>
                                    Phone: @wareHouseAddress.PhoneNumber<br>
                                    Email: @wareHouseAddress.Email
                                </address>
                            }
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            To
                            @{
                                Invoice invoice = (Invoice)ViewBag.Invoice;
                                User user = (User)ViewBag.Buyer;
                                if (invoice.ShippingAddress != null)
                                {
                                    <address>
                                        @invoice.ShippingAddress.FirstName @invoice.ShippingAddress.LastName<br>
                                        @invoice.ShippingAddress.StreetAddress<br>
                                        @invoice.ShippingAddress.City @invoice.ShippingAddress.PostalCode,  @invoice.ShippingAddress.Country<br>
                                        Phone: @invoice.ShippingAddress.PhoneNumber<br>
                                        Email: @invoice.ShippingAddress.Email
                                    </address>
                                }
                                else
                                {
                                    <address>
                                        @user.FirstName @user.LastName<br>
                                        @user.Address.StreetAddress<br>
                                        @user.Address.City @user.Address.PostalCode, @user.Address.Country<br>
                                        Phone: @user.PhoneNumber<br>
                                        Email: @user.Email
                                    </address>
                                }
                            }
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            @{
                                <b>Invoice #@invoice.Id</b><br>
                            }
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <div class="col-12 table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th>Type</th>
                                        <th>Artist</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @{
      
                                        @foreach (OrderDetail orderDetail in invoice.OrderDetails)
                                        {
                                            <tr>
                                                <td>@orderDetail.Product.ProductId</td>
                                                <td>@orderDetail.Product.Name</td>
                                                <td>@orderDetail.Product.Category.CategoryName</td>
                                                <td>@orderDetail.Product.User.FirstName @orderDetail.Product.User.LastName</td>
                                                @if (@orderDetail.Product.Auction is false)
                                                {
                                                    <td>@orderDetail.Product.Price</td>
                                                }
                                                else
                                                {
                                            <td>@orderDetail.Product.SalePrice</td>
                                                }
                                            </tr>
                                        }
                                    }
                                </tbody>
                                
                            </table>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-6">
                            <p class="lead">Payment Methods:</p>
                            <img src="~/backend/dist/img/credit/visa.png" alt="Visa">
                            <img src="~/backend/dist/img/credit/mastercard.png" alt="Mastercard">
                            <img src="~/backend/dist/img/credit/american-express.png" alt="American Express">
                            <img src="~/backend/dist/img/credit/paypal2.png" alt="Paypal">

                            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                                plugg
                                dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                            </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-6">

                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th style="width:50%">Subtotal:</th>
                                        <td>@invoice.OrderDetails.Sum(p => p.Price)</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td>$@ViewBag.GeneralSetting.ShippingCost</td>
                                    </tr>
                                    <tr>
                                        <th>Total:</th>
                                        
                                        @{
                                            GeneralSetting generalSetting = ViewBag.GeneralSetting;
                                            double subTotal = invoice.OrderDetails.Sum(p => p.Price);
                                            subTotal += generalSetting.ShippingCost;
                                            <td>
                                                @subTotal
                                            </td>
                                        }
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- this row will not appear when printing -->
                    <div class="row no-print">
                        <div class="col-12">
                            <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                            <button type="button" class="btn btn-success float-right">
                                <i class="far fa-credit-card"></i> Submit
                                Payment
                            </button>
                            <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                                <i class="fas fa-download"></i> Generate PDF
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.invoice -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->