@{
    ViewData["Title"] = "Home";
}
@using eProject.Models

<!-- PAGE -->
@if (ViewBag.isHome != null)
{
    @await Component.InvokeAsync("SlideShow")
}

<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">

        <div class="tabs">
            <ul id="tabs" class="nav nav-justified-off">
                <li class="active"><a href="#tab-1" data-toggle="tab">Featured</a></li>
                <li class=""><a href="#tab-2" data-toggle="tab">Newest</a></li>
            </ul>
        </div>

        <div class="tab-content">

            <!-- tab 1 -->
            <div class="tab-pane fade active in" id="tab-1">
                <div class="row">
                    @foreach (var featuredProduct in ViewBag.FeaturedProducts)
                    {
                        Product product = (Product)featuredProduct;
                        Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                        var photoName = photo == null ? "no-image.jpg" : photo.Name;
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="~/images/products/@photoName">
                                        <img src="~/images/products/@photoName" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a asp-controller="Product" asp-action="details" asp-route-id="@featuredProduct.ProductId">@featuredProduct.Name</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                                        -->
                                        <span class="star active"></span>
                                        <!--
                                        -->
                                        <span class="star active"></span>
                                        <!--
                                        -->
                                        <span class="star active"></span>
                                        <!--
                                        -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>$ @featuredProduct.Price</ins> <del>@featuredProduct.SalePrice</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                                        -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" asp-controller="Cart" asp-action="Buy" asp-route-id="@featuredProduct.ProductId"><i class="fa fa-shopping-cart" ></i>Add to Cart</a>
                                        <!--
                                        -->
                                        <a asp-controller="Portfolio" asp-action="Add" asp-route-id="@featuredProduct.ProductId" asp-route-returnController="@Html.ViewContext.RouteData.Values["controller"].ToString()" asp-route-returnAction="@Html.ViewContext.RouteData.Values["action"].ToString()" class="btn btn-theme btn-theme-transparent btn-compare"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- tab 2 -->
            <div class="tab-pane fade" id="tab-2">
                <div class="row">
                    @foreach (var newestProduct in ViewBag.NewestProducts)
                    {
                        Product product = (Product)newestProduct;
                        Photo photo = product.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                        var photoName = photo == null ? "no-image.jpg" : photo.Name;
                        <div class="col-md-3 col-sm-6">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a class="media-link" data-gal="prettyPhoto" href="~/images/products/@photoName">
                                        <img src="~/images/products/@photoName" alt="" />
                                        <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                                    </a>
                                </div>
                                <div class="caption text-center">
                                    <h4 class="caption-title"><a asp-controller="Product" asp-action="details" asp-route-id="@newestProduct.ProductId">@newestProduct.Name</a></h4>
                                    <div class="rating">
                                        <span class="star"></span>
                                        <!--
                        -->
                                        <span class="star active"></span>
                                        <!--
                        -->
                                        <span class="star active"></span>
                                        <!--
                        -->
                                        <span class="star active"></span>
                                        <!--
                        -->
                                        <span class="star active"></span>
                                    </div>
                                    <div class="price"><ins>$ @newestProduct.Price</ins> <del>@newestProduct.SalePrice</del></div>
                                    <div class="buttons">
                                        <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                                        <!--
                        -->
                                        <a class="btn btn-theme btn-theme-transparent btn-icon-left" href="#"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                        <!--
                        -->
                                        <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    </div>
                   
            </div>


        </div>

    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <div class="message-box">
            <div class="message-box-inner">
                <h2>Free shipping on all orders</h2>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <h2 class="section-title"><span>Top Sale Products</span></h2>
        <div class="top-products-carousel">
            <div class="owl-carousel" id="top-products-carousel">
                @foreach (var saleProducts in ViewBag.SaleProducts)
                {
                    Product productInfo = (Product)saleProducts;
                    Photo photo = productInfo.Photos.SingleOrDefault(ph => ph.Status && ph.Featured);
                    var photoName = photo == null ? "no-image.jpg" : photo.Name;
                <div class="thumbnail no-border no-padding">
                    <div class="media">
                        <a class="media-link" data-gal="prettyPhoto" href="~/images/products/@photoName">
                            <img src="~/images/products/@photoName" alt="" />
                            <span class="icon-view"><strong><i class="fa fa-eye"></i></strong></span>
                        </a>
                    </div>
                    <div class="caption text-center">
                        <h4 class="caption-title"><a asp-controller="Product" asp-action="details" asp-route-id="@saleProducts.ProductId">@saleProducts.Name</a></h4>
                        <div class="rating">
                            <span class="star"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                            <!--
                            -->
                            <span class="star active"></span>
                        </div>
                        <div class="price"><ins>$ @saleProducts.Price</ins> <del>@saleProducts.SalePrice</del></div>
                        <div class="buttons">
                            <a class="btn btn-theme btn-theme-transparent btn-wish-list" href="#"><i class="fa fa-heart"></i></a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent" href="#">Add to Cart</a>
                            <!--
                            -->
                            <a class="btn btn-theme btn-theme-transparent btn-compare" href="#"><i class="fa fa-exchange"></i></a>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <a class="btn btn-theme btn-title-more btn-icon-left" asp-controller="Blog" asp-action="index"><i class="fa fa-file-text-o"></i>See All Posts</a>
        <h2 class="block-title"><span>Our Recent posts</span></h2>
        <div class="row">
            @foreach (Blog post in ViewBag.Post)
            {
            <div class="col-md-6">
                <div class="recent-post">
                    <div class="media">
                        <a class="pull-left media-link" asp-controller="Blog" asp-action="ReadMore" asp-route-id="@post.BlogId">
                            <img class="media-object" src="~/images/blogs/@post.Photo" alt="" style="width: 170px; height: 120px;" >
                            <i class="fa fa-plus"></i>
                        </a>
                        <div class="media-body">
                            <p class="media-category"><a href="#">Author</a> : <a href="#">@post.User.FirstName @post.User.LastName</a></p>
                            <h4 class="media-heading"><a asp-controller="Blog" asp-action="ReadMore" asp-route-id="@post.BlogId">@post.Title</a></h4>
                            @post.Description
                        </div>
                        <div class="media-meta">
                            @post.PostedDate
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>
<!-- /PAGE -->
<!-- PAGE -->
<section class="page-section">
    <div class="container">
        <h2 class="section-title"><span>Artist</span></h2>
        <div class="partners-carousel">
            <div class="owl-carousel" id="partners">
                @foreach(User users in ViewBag.Artists) 
                {
                <div><a asp-controller="ArtistPageUser" asp-action="Detail" asp-route-id="@users.Id">
                    
                    @if (users.ProfileImage is null)
                    {
                        <img src="~/backend/dist/img/user2-160x160.jpg" alt="">
                    }
                    else
                    {
                     <img src="~/images/users/@users.ProfileImage" alt="" />
                    }
                </a></div>
                }
                
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->
<section class="page-section no-padding-top">
    <div class="container">
        <div class="row blocks shop-info-banners" style="margin-top:30px;">
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-gift"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Free Shipping</h4>
                            Ship around the world
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-comments"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Call to Free</h4>
                            Support 24/7. call number: 1800 1530
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="block">
                    <div class="media">
                        <div class="pull-right"><i class="fa fa-trophy"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Payment</h4>
                            Credit Card - Paypal - Card
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /PAGE -->