@using eProject.App.Helpers

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/backend/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                @{
                    if (Model.ProfileImage is null)
                    {
                        <img src="~/backend/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image" />
                    }
                    else
                    {
                        <img src="@Model.Picture" class="img-circle elevation-2" alt="User Image" />
                    }
                }
            </div>
            <div class="info">
                <a href="#" class="d-block">@Model.FullName</a>
            </div>
            <div>
                <a asp-area="Admin" asp-controller="Account" asp-action="Logout" data-original-title="Logout"><i class="fas fa-door-open"></i></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
                <li class="nav-item has-treeview @Html.ActiveMenuItem(actions: null, controllers: "Dashboard")">
                    <a href="#" class="nav-link @Html.ActiveMenuLink(actions: "Index", controllers: "Dashboard")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link @Html.ActiveMenuLink(actions: "Index", controllers: "Dashboard")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview @Html.ActiveMenuItem(actions: null, controllers: "User")">
                    <a href="#" class="nav-link @Html.ActiveMenuLink(actions: null, controllers: "User")">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Users
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link @Html.ActiveMenuLink(actions: "Index", controllers: "User")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List All Users</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="User" asp-action="Create" class="nav-link @Html.ActiveMenuLink(actions: "Create", controllers: "User")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create User Detail</p>
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item has-treeview @Html.ActiveMenuItem(actions: null, controllers: "Category")">
                    <a href="#" class="nav-link @Html.ActiveMenuLink(actions: null, controllers: "Category")">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Category
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview @Html.ActiveMenuItem(actions: "Index", controllers: "Category")">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link @Html.ActiveMenuLink(actions: "Index", controllers: "Category")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List All Categories</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="nav-link @Html.ActiveMenuLink(actions: "Create", controllers: "Category")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create new Category </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview @Html.ActiveMenuItem(actions: null, controllers: "Products")">
                    <a href="#" class="nav-link @Html.ActiveMenuLink(actions: null, controllers: "Products")">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Products
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-link @Html.ActiveMenuLink(actions: "Index", controllers: "Products")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List All Products</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Create" class="nav-link @Html.ActiveMenuLink(actions: "Create", controllers: "Products")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create new Product </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link @Html.IsSelected(actions: null, controllers: "About")">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            About Content
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="About" asp-action="Index" class="nav-link @Html.IsSelected(actions: "Index", controllers: "About")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List About Content</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="About" asp-action="Create" class="nav-link @Html.IsSelected(actions: "Create", controllers: "About")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create new content </p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link @Html.IsSelected(actions: null, controllers: "SlideShow")">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            SlideShow
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="SlideShow" asp-action="Index" class="nav-link @Html.IsSelected(actions: "Index", controllers: "SlideShow")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>List SlideShow</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="SlideShow" asp-action="Add" class="nav-link @Html.IsSelected(actions: "Add", controllers: "SlideShow")">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Create new SlideShow </p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>