@model eProject.Models.ViewModels.GatewayVM

@{
    ViewData["Title"] = "Changed Password";
}

<section class="page-section">
    <div class="wrap container">
        <div class="row">
            <!--start main contain of page-->
            <div class="col-lg-9 col-md-9 col-sm-8">
                <div class="information-title">Payment Management</div>
                <div class="details-wrap">
                    <div class="block-title alt"> <i class="fa fa-angle-down"></i> Gateways Information </div>
                    <h3 class="text-danger">*Please transfer to the correct content. We will check your payment as soon as possible.</h3>
                    <div class="details-box" style="margin-top:60px">
                        <div class="row">
                            <div class="col-12">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Bank Name</th>
                                            <th>Information</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Gateway gateway in Model.Gateways)
                                        {
                                            <tr>
                                                <td>
                                                    <p class="font-bold">@gateway.BankName</p>
                                                </td>
                                                <td style="text-align: left;">
                                                    <p class="font-bold col-pink"> <font color="black">Account Number: </font>@gateway.AccountNumber</p>
                                                    <p class="font-bold col-pink"> <font color="black">Account Name: </font>@gateway.AccountName</p>
                                                    <p class="font-bold col-pink"> <font color="black">Branch: </font>@gateway.Branch</p>
                                                    <p class="font-bold col-pink"> <font color="black">Message: </font>@gateway.Message</p>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end main contain of page-->
            <!--start sidebar-->
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="widget account-details">
                    <h2 class="widget-title">Account</h2>
                    <ul>
                        @await Html.PartialAsync("./Partial/_Sidebar")
                    </ul>
                </div>
            </div>
            <!--end sidebar-->
        </div>

    </div>
</section>

@section scripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
}