@model eProject.Models.ViewModels.GatewayVM

@{
    ViewData["Title"] = "Changed Password";
}

<section class="page-section">
    <div class="wrap container">
        <div class="row">
            <!--start main contain of page-->
            <div class="col-lg-9 col-md-9 col-sm-8">
                <div class="information-title">Payment Management</div>
                <div class="details-wrap">
                    <div class="block-title alt"> <i class="fa fa-angle-down"></i> Gateways Information </div>
                    <h3 class="text-danger">*Please transfer to the correct content. We will check your payment as soon as possible.</h3>
                    <div class="details-box">
                        <div class="col-md-6 col-sm-6">

                            <table>
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Gateway gateway in Model.Gateways)
                                    {
                                        <tr>
                                            <td>
                                                <p class="font-bold">@gateway.BankName</p>
                                                <center><img src="~/images/gateways/@gateway.Logo" class="img-responsive" alt="Image"></center>
                                            </td>
                                            <td style="text-align: left;">
                                                <p class="font-bold col-pink"> <font color="black">STK: </font>@gateway.AccountNumber</p>
                                                <p class="font-bold col-pink"> <font color="black">Tên: </font>@gateway.AccountName</p>
                                                <p class="font-bold col-pink"> <font color="black">Chi Nhánh: </font>@gateway.Branch</p>
                                                <p class="font-bold col-pink"> <font color="black">ND Chuyển Khoản: </font>@gateway.Message</p>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                   
                </div>
            </div>

            <!--end main contain of page-->
            <!--start sidebar-->
            <div class="col-lg-3 col-md-3 col-sm-4">
                <div class="widget account-details">
                    <h2 class="widget-title">Account</h2>
                    <ul>
                        @await Html.PartialAsync("./Partial/_Sidebar")
                    </ul>
                </div>
            </div>
            <!--end sidebar-->
        </div>

    </div>
</section>