
@using eProject.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BackendLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Products List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">List All Products</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-header">
                    <a class="btn btn-primary float-right" asp-area="Admin" asp-controller="Products" asp-action="Create">Add new Product</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Price</th>
                                <th>Sale Price</th>
                                <th>Artist Name</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Featured</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Products)
                            {
                                Product pr = (Product)item;
                                Photo mainPhoto = pr.Photos.SingleOrDefault(p => p.Featured == true);
                            <tr>
                                <td>@item.Name</td>
                                <td><img src="~/products/@(mainPhoto != null ? mainPhoto.Name :"")" width="120" /></td>
                                <td>@item.Price</td>
                                <td>@item.SalePrice</td>
                                <td><a asp-controller="User" asp-action="Edit" asp-route-id="@item.User.Id">@item.User.FirstName @item.User.LastName</a></td>
                                <td>@item.Category.CategoryName</td>
                               
                                <td>@item.Description</td>

                                <td>
                                    @if (item.Status == true)
                                    {
                                        <span style="color:green;font-weight:bold;">Show</span>
                                    }
                                    else
                                    {
                                        <span style="color:red;">Hide</span>
                                    }
                                </td>
                                <td>@(item.Featured ? "Featured" : "")</td>
                                <td>
                                    <a asp-area="admin" asp-controller="Products"
                                       asp-action="edit" asp-route-id="@item.ProductId" class="btn btn-primary">
                                        <i class="fa fa-wrench" aria-hidden="true"></i>
                                        Edit
                                    </a>

                                    <a asp-area="admin" asp-controller="Products"
                                       asp-action="delete" asp-route-id="@item.ProductId"
                                       onclick="return confirm('Are you sure?')" class="btn btn-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                    </a>

                                    <a asp-area="admin" asp-controller="Photo"
                                       asp-action="index" asp-route-id="@item.ProductId" class="btn btn-info">
                                        <i class="fa fa-list-alt" aria-hidden="true"></i>
                                        Photo List
                                    </a>

                                    <a asp-area="admin" asp-controller="Photo"
                                       asp-action="add" asp-route-id="@item.ProductId" class="btn btn-warning">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        Add Photo
                                    </a>
                                </td>
                            </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Photo</th>
                                <th>Price</th>
                                <th>Sale Price</th>
                                <th>Artist Name</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Status</th>
                                <th>Featured</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
